In [2]:
l=[1,23,"kul",True,5+7j,234.34]

In [3]:
type(l)

list

In [4]:
l[0]

1

In [5]:
l[90]

IndexError: list index out of range

In [ ]:
l[5]

234.34

In [ ]:
l

[1, 23, 'kul', True, (5+7j), 234.34]

In [ ]:
l[0:3:]

[1, 23, 'kul']

In [ ]:
l[-1]

234.34

In [ ]:
l[::-1]

[234.34, (5+7j), True, 'kul', 23, 1]

In [ ]:
l[::2]

[1, 'kul', (5+7j)]

In [ ]:
s="pwskills"

In [ ]:
list(s)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [ ]:
list(s) + 1

TypeError: can only concatenate list (not "int") to list

In [ ]:
list(s) + l

['p', 'w', 's', 'k', 'i', 'l', 'l', 's', 1, 23, 'kul', True, (5+7j), 234.34]

In [ ]:
l

[1, 23, 'kul', True, (5+7j), 234.34]

In [ ]:
l[2]

'kul'

In [ ]:
type(l[2])

str

In [ ]:
l[2][0:2]

'ku'

In [ ]:
l[3]

True

In [ ]:
str(l[3])[0:2]

'Tr'

In [ ]:
l1 = [3,4,5]

In [ ]:
l + l1

[1, 23, 'kul', True, (5+7j), 234.34, 3, 4, 5]

In [ ]:
l1 * 3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [ ]:
l1

NameError: name 'l1' is not defined

In [ ]:
len(l)

6

In [ ]:
l

[1, 23, 'kul', True, (5+7j), 234.34]

In [ ]:
l.append(5)

In [ ]:
l

[1, 23, 'kul', True, (5+7j), 234.34, 5]

In [ ]:
s="pwslills"

In [ ]:
l.append(s)

In [ ]:
l

[1, 23, 'kul', True, (5+7j), 234.34, 5, 'pwslills']

In [ ]:
l.append(l1)

In [ ]:
l

[1, 23, 'kul', True, (5+7j), 234.34, 5, 'pwslills', [3, 4, 5]]

In [ ]:
l[-1][1]

4

In [ ]:
l[-2][2]

's'

In [ ]:
l

[1, 23, 'kul', True, (5+7j), 234.34, 5, 'pwslills', [3, 4, 5]]

In [ ]:
l.extend(4)

TypeError: 'int' object is not iterable

In [ ]:
l.extend("kuldeep")

NameError: name 'l' is not defined

In [ ]:
l

[1, 23, 'kul', True, (5+7j), 234.34, [3, 4, 5]]

In [ ]:
l.extend([3,4,5])

In [ ]:
l

[1, 23, 'kul', True, (5+7j), 234.34, [3, 4, 5]]

In [ ]:
l.insert(1,'kuldeep')

In [ ]:
l1

[3, 4, 5]

In [ ]:
l1.insert(0,"kuldeep")

In [ ]:
l1

['kuldeep', 3, 'kuldeep', 4, 5]

In [ ]:
l1.insert(2,[3,4,5,6])

In [ ]:
l1

[3, 4, [3, 4, 5, 6], 5]

In [ ]:
l1.insert(-1,46)

In [ ]:
l1

[3, 4, [3, 4, 5, 6], 46, 5]

In [ ]:
l1.pop()

5

In [ ]:
l1

[3, 4, [3, 4, 5, 6], 46, 5]

In [ ]:
l1.pop(3)

46

In [ ]:
l1

[3, 4, [3, 4, 5, 6]]

In [ ]:
l

[1, 'kuldeep', 23, 'kul', True, (5+7j), 234.34, [3, 4, [3, 4, 5, 6]]]

In [ ]:
l.pop(3)

'kul'

In [ ]:
l

[1, 'kuldeep', 23, True, (5+7j), 234.34, [3, 4, [3, 4, 5, 6]]]

In [ ]:
l.remove(23)

In [ ]:
l

[1, 'kuldeep', True, (5+7j), 234.34, [3, 4, [3, 4, 5, 6]]]

In [ ]:
l[5].remove(3)

In [ ]:
l

[1, 'kuldeep', True, (5+7j), 234.34, [4, [3, 4, 5, 6]]]

In [ ]:
l[5].remove(4)

In [ ]:
l

[1, 'kuldeep', True, (5+7j), 234.34, [[3, 4, 5, 6]]]

In [ ]:
l.append(4)

In [ ]:
l

[1, 'kuldeep', True, (5+7j), 234.34, [[3, 4, 5, 6]], 4, 4]

In [ ]:
l.remove(4)

In [ ]:
l

[1, 'kuldeep', True, (5+7j), 234.34, [[3, 4, 5, 6]], 4]

In [ ]:
l[::-1]

[4, [[3, 4, 5, 6]], 234.34, (5+7j), True, 'kuldeep', 1]

In [ ]:
l2=l1

In [ ]:
l2.reverse()

In [ ]:
l2

[[3, 4, 5, 6]]

In [ ]:
l3=[45,34,5,0,98,54,33,99]

In [ ]:
l3.sort()

In [ ]:
l3

[0, 5, 33, 34, 45, 54, 98, 99]

In [ ]:
l4=[34,"kuld",45,12,"gangwar"]

In [ ]:
l4.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
l4

[34, 'kuld', 45, 12, 'gangwar']

In [ ]:
l5=["kuldeep","gangwar","sanjoo","birjesh"]

In [ ]:
l5.sort()

In [ ]:
l5

['birjesh', 'gangwar', 'kuldeep', 'sanjoo']

In [ ]:
l5.index("kuldeep")

2

In [ ]:
l5.count("kuldeep")

1

In [ ]:
k="kuldeep"

In [ ]:
l6=[4,5,6,7]

In [ ]:
k[0]='a'

TypeError: 'str' object does not support item assignment

In [ ]:
l6[0]=30

In [ ]:
l6

[30, 5, 6, 7]

In [ ]:
k.replace('k','u')

'uuldeep'

In [ ]:
k

'kuldeep'

In [ ]:
t=(2,3,4,5,"kuldeep",45.56,False,45+45j,[3,4,5])

In [ ]:
t

(2, 3, 4, 5, 'kuldeep', 45.56, False, (45+45j), [3, 4, 5])

In [ ]:
type(t)

tuple

In [ ]:
len(t)

9

In [ ]:
t[0]

2

In [ ]:
t[::-1]

([3, 4, 5], (45+45j), False, 45.56, 'kuldeep', 5, 4, 3, 2)

In [ ]:
l5

['birjesh', 'gangwar', 'kuldeep', 'sanjoo']

In [ ]:
l5[0]=23432

In [ ]:
l5

[23432, 'gangwar', 'kuldeep', 'sanjoo']

In [ ]:
t[0]="kuldeep"

TypeError: 'tuple' object does not support item assignment

In [ ]:
t[::-1]

([3, 4, 5], (45+45j), False, 45.56, 'kuldeep', 5, 4, 3, 2)

In [ ]:
t

(2, 3, 4, 5, 'kuldeep', 45.56, False, (45+45j), [3, 4, 5])

In [ ]:
t.count(4)

1

In [ ]:
t.index(False)

6

In [ ]:
s={}

In [ ]:
type(s)

dict

In [ ]:
s1={2,3,4,5,6}

In [ ]:
type(s1)

set

In [ ]:
s2={324,456,456,"kuldeep",45+45j,34,456,(3,4,5)}

In [ ]:
s2

{(3, 4, 5), (45+45j), 324, 34, 456, 'kuldeep'}

In [ ]:
s3 = {2,3,4,5,6,2,3,4,5,3,4,1,1,4,5,5,6,4,'Kuld','kuld'}

In [ ]:
s3

{1, 2, 3, 4, 5, 6, 'Kuld', 'kuld'}

In [ ]:
l4 = [2,3,4,5,6,2,3,4,5,3,4,1,1,4,5,5,6,4,'Kuld','kuld']

In [ ]:
l4=set(l4)

In [ ]:
l4

{1, 2, 3, 4, 5, 6, 'Kuld', 'kuld'}

In [ ]:
l4=list(set(l4))

In [ ]:
l4

['Kuld', 1, 2, 3, 4, 5, 6, 'kuld']

In [ ]:
s4={234,45,34,23,789,37583,85,"kuld"}

In [ ]:
s4

{23, 234, 34, 37583, 45, 789, 85, 'kuld'}

In [ ]:
s4={234,45,34,23,789,37583,85,"kuld"}

In [ ]:
s4[0]

TypeError: 'set' object is not subscriptable

In [ ]:
s4[::-1]

TypeError: 'set' object is not subscriptable

In [ ]:
s4={234,45,34,23,789,37583,85,"kuld"}

In [ ]:
s4.add(4)

In [ ]:
s4

{23, 234, 34, 37583, 4, 45, 789, 85, 'kuld'}

In [ ]:
s4.remove(234)

In [1]:
s4

NameError: name 's4' is not defined