Dictoary

In [1]:
d={}

In [2]:
type(d)

dict

In [3]:
d1={'key' : "kuldeep"}

In [4]:
d1

{'key': 'kuldeep'}

In [5]:
d2={'naem' : "kuldeep" ,"email" : "ss@gmail.com", "number" : 324224}

In [6]:
d2

{'naem': 'kuldeep', 'email': 'ss@gmail.com', 'number': 324224}

In [7]:
d3={234 : "kuldeep", "weg" : "kumar",True :24234}

In [8]:
d3

{234: 'kuldeep', 'weg': 'kumar', True: 24234}

In [9]:
d3[234]

'kuldeep'

In [10]:
d3[True]

24234

In [11]:
d3[1]

24234

In [12]:
d4={'name':"kuldeep","mail_id":"ss@gmail.com","name":"gangwar"}

In [13]:
d4['name']

'gangwar'

In [14]:
d5={"company": "pwskills","course":["web dev", "data sience","java with dsa system design"]}

In [15]:
d5

{'company': 'pwskills',
 'course': ['web dev', 'data sience', 'java with dsa system design']}

In [16]:
d5['course']

['web dev', 'data sience', 'java with dsa system design']

In [17]:
d5['course'][2]

'java with dsa system design'

In [18]:
d6={"number": [2,3,4,54,34,34],"assignment":(1,2,3,4,5,6),"launch_date":{28,1,14},"class_time": {"web_dev":8, "Data_sciene master":8,"java with dsa and system design":7}}

In [19]:
d6

{'number': [2, 3, 4, 54, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {1, 14, 28},
 'class_time': {'web_dev': 8,
  'Data_sciene master': 8,
  'java with dsa and system design': 7}}

In [20]:
d6['class_time']['java with dsa and system design']

7

In [21]:
d6

{'number': [2, 3, 4, 54, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {1, 14, 28},
 'class_time': {'web_dev': 8,
  'Data_sciene master': 8,
  'java with dsa and system design': 7}}

In [22]:
d6['mentor']={"sudhanshu","krish","anurag","hayder"}

In [23]:
d6

{'number': [2, 3, 4, 54, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {1, 14, 28},
 'class_time': {'web_dev': 8,
  'Data_sciene master': 8,
  'java with dsa and system design': 7},
 'mentor': {'anurag', 'hayder', 'krish', 'sudhanshu'}}

In [24]:
del d6['number']

In [25]:
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {1, 14, 28},
 'class_time': {'web_dev': 8,
  'Data_sciene master': 8,
  'java with dsa and system design': 7},
 'mentor': {'anurag', 'hayder', 'krish', 'sudhanshu'}}

In [26]:
d6.keys()

dict_keys(['assignment', 'launch_date', 'class_time', 'mentor'])

In [27]:
list(d6.keys())

['assignment', 'launch_date', 'class_time', 'mentor']

In [28]:
list(d6.values())

[(1, 2, 3, 4, 5, 6),
 {1, 14, 28},
 {'web_dev': 8, 'Data_sciene master': 8, 'java with dsa and system design': 7},
 {'anurag', 'hayder', 'krish', 'sudhanshu'}]

In [29]:
list(d6.items())

[('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {1, 14, 28}),
 ('class_time',
  {'web_dev': 8,
   'Data_sciene master': 8,
   'java with dsa and system design': 7}),
 ('mentor', {'anurag', 'hayder', 'krish', 'sudhanshu'})]

In [30]:
list(d6.items())

[('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {1, 14, 28}),
 ('class_time',
  {'web_dev': 8,
   'Data_sciene master': 8,
   'java with dsa and system design': 7}),
 ('mentor', {'anurag', 'hayder', 'krish', 'sudhanshu'})]

In [31]:
d6.pop('assignment')

(1, 2, 3, 4, 5, 6)

In [32]:
d6

{'launch_date': {1, 14, 28},
 'class_time': {'web_dev': 8,
  'Data_sciene master': 8,
  'java with dsa and system design': 7},
 'mentor': {'anurag', 'hayder', 'krish', 'sudhanshu'}}

In [33]:
marks=int(input("enter the marks"))
if marks >= 80 : 
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("you wil be a part of A1 barch")
elif marks >= 50 and marks < 60 :
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

you wil be a part of A1 barch

In [34]:
price = int (input("enter the price"))
if price > 1000:
    print("i will not purchase")
else: 
    print("i will purchase")

i will purchase

In [35]:
price = int(input("enter the price"))
if price > 1000:
    print("i will not purchase")
    if price > 5000:
        print("this too much")
    elif price<2000:
        print("its ok")
elif price<1000:
    price("i will purchase")
else:
    print("not interested")

TypeError: 'int' object is not callable

LOOP

In [ ]:
l=[1,2,3,4,5,6,7,8]

In [ ]:
l[0] +1

2

In [ ]:
l1=[]

In [ ]:
l1.append(l[0]+1)

In [ ]:
l1

[2]

In [ ]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
l1=[]
for i in l:
    print(i+1)
    l1.append(i+1)
l1

2
3
4
5
6
7
8
9

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l=["sudh","kumar","pwskills","course"]

In [ ]:
k=[]
for i in l:
    print(i)
    k.append(i.upper())
k

sudh
kumar
pwskills
course

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [ ]:
l=[1,2,3,4,5,"kuldeep","gnagwar",34.43,342,"abc"]

In [ ]:
l1_num=[]
l2_str=[]
for i in l:
    if type(i) == int or type(i) == float:
        l1_num.append(i)
    else:
        l2_str.append(i)

In [ ]:
l1_num

[1, 2, 3, 4, 5, 34.43, 342]

In [ ]:
l2_str

['kuldeep', 'gnagwar', 'abc']

In [ ]:
print(False or False and not(True))

False

In [ ]:
l= "123"
print(l.isnumeric())

True

In [ ]:
string = "p w s k i l l s"

" ".join(string.replace(" ", ""))

'p w s k i l l s'

In [ ]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True

In [36]:
s = "I want to become a data scientist"

for i in s.split():

    print(i.capitalize())
    print(i.title())
    print(i.lower())

I
I
i
Want
Want
want
To
To
to
Become
Become
become
A
A
a
Data
Data
data
Scientist
Scientist
scientist

In [ ]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

In [ ]:
1/False

ZeroDivisionError: division by zero

In [ ]:
num1= 23

num2= 44

num2= 2+3j

num1= num2.imag

num2-num1

(-1+3j)

In [ ]:
'pwskills' + str(1)

'pwskills1'

In [ ]:
'pwskills'.upper().lower().isalnum()

True

In [ ]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True

In [ ]:
for course in ['Data Science Masters', 'ML', 'data science masters', 'DL']:

    if len(course)!= 2:

        print('PwSkills' , end=' ')

PwSkills PwSkills

In [ ]:
sum = 0

for i in range(1,100):

    sum += i

    if sum > 100:

        break

print(sum)

105

In [ ]:
i=0

while i< 1:

    print('pwskills')
    break

pwskills

In [ ]:
num = 2
count=0
sum = 0

while num <=20:

    sum += num

    num += 2

    count+=1

print(sum)

110

In [ ]:
for i in 'Pwskills':

    if i.lower() in ['a', 'e', 'i', 'o', 'u']:

        print(i)

i

In [ ]:
list_out=[]

for i in range(0,51,10):

    list_out.append(str(i))

print(list_out)

['0', '10', '20', '30', '40', '50']

In [ ]:
for i in range(1, 5):

    print(i)

1
2
3
4

Comprehension

In [ ]:
l=[1,3,4,5,6,7,8,9]
l1=[]
for i in l:
    l1.append(i**2)

In [ ]:
l1

[1, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
l

[1, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[i**2 for i in l]

[1, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[i for i in l if i % 2==0]

[4, 6, 8]

In [ ]:
l1=["kuldeep","kumar","data science"]

In [ ]:
[i.upper() for i in l1]

['KULDEEP', 'KUMAR', 'DATA SCIENCE']

In [ ]:
l

[1, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(i**2 for i in l)

[1, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
d={"key":1,"key1":2,"key2":3,"key4":4}

In [ ]:
d.items()

dict_items([('key', 1), ('key1', 2), ('key2', 3), ('key4', 4)])

In [ ]:
{k:v**2 for k,v in d.items()}

{'key': 1, 'key1': 4, 'key2': 9, 'key4': 16}

In [ ]:
dict.items

In [ ]:
d.items()

NameError: name 'd' is not defined

In [ ]:
d

{'key': 1, 'key1': 2, 'key2': 3, 'key4': 4}

In [ ]:
{ K:v for k,v in d.items() if v>1}

NameError: name 'K' is not defined