In [23]:
l=[1,2,3,4,5]

In [24]:
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [25]:
l1=["kuldeep","gangwar","renu"]

In [26]:
for i in l1:
    print(i)

kuldeep
gangwar
renu

In [27]:
l1

['kuldeep', 'gangwar', 'renu']

In [28]:
for i in l1:
    print(i)
else:
    print("do somthing")

kuldeep
gangwar
renu
do somthing

In [29]:
l1

['kuldeep', 'gangwar', 'renu']

In [30]:
for i in l1:
    if i == "renu":
        break
    print(i)

kuldeep
gangwar

In [31]:
l1

['kuldeep', 'gangwar', 'renu']

In [32]:
for i in l1:
    if i == "kumar":
        break
    print(i)
else:
    print("execute this if for loop is able to completer itself")

kuldeep
gangwar
renu
execute this if for loop is able to completer itself

In [33]:
l2=["birjesh","Pratap","chandra"]

In [34]:
l2

['birjesh', 'Pratap', 'chandra']

In [35]:
for i in l2:
    if i=="chandra":
        continue
    print(i)

birjesh
Pratap

In [36]:
for i in l2:
    if i=="chandra":
        continue
    print(i)
else:
    print("execute this if for loop isable to complete itself")

birjesh
Pratap
execute this if for loop isable to complete itself

In [37]:
range(5)

range(0, 5)

In [38]:
list(range(5))

[0, 1, 2, 3, 4]

In [39]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [40]:
range(0,30,2)

range(0, 30, 2)

In [41]:
list(range(0,30,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [42]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [43]:
l1

['kuldeep', 'gangwar', 'renu']

In [44]:
list(range(len(l1)))

[0, 1, 2]

In [46]:
for i in range(len(l1)):
    print(l1[i])

kuldeep
gangwar
renu

In [49]:
list(range(len(l1)-1,-1,-1))

[2, 1, 0]

In [48]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

renu
gangwar
kuldeep

In [51]:
l2=[23,45,67,43,8,5,3,5,6,44,7,57,86,32,643,6753,700]

In [53]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [54]:
for i in range(0,len(l2),2):
    print(l2[i])

23
67
8
3
6
7
86
643
700

In [56]:
l3=[1,2,3,4,4,5,5,6,6]

In [58]:
sum(l3)

36

In [59]:
result=0
for i in l3:
    result=result+i
result

36

In [60]:
t=(1,2,3,4,5,6,7,8)

In [61]:
res=0
for i in t:
    res=res+1
res

8

In [62]:
s={1,2,3,4,5,"kuldeep","pwskills"}

In [63]:
for i in s:
    print(i)

1
2
3
4
5
kuldeep
pwskills

In [64]:
s1="pwskills"

In [65]:
for i in s:
    print(i)

1
2
3
4
5
kuldeep
pwskills

In [66]:
d={"name":"kuldeep","class":"data science","topic":["python","sate","mchine learning","NLP"]}

In [67]:
d

{'name': 'kuldeep',
 'class': 'data science',
 'topic': ['python', 'sate', 'mchine learning', 'NLP']}

In [68]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [69]:
for i in d.keys():
    print(d[i])

kuldeep
data science
['python', 'sate', 'mchine learning', 'NLP']

In [70]:
d.values()

dict_values(['kuldeep', 'data science', ['python', 'sate', 'mchine learning', 'NLP']])

In [71]:
for i in d.values():
    print(i)

kuldeep
data science
['python', 'sate', 'mchine learning', 'NLP']

In [72]:
d.items()

dict_items([('name', 'kuldeep'), ('class', 'data science'), ('topic', ['python', 'sate', 'mchine learning', 'NLP'])])

In [73]:
for i in d.items():
    print(i)

('name', 'kuldeep')
('class', 'data science')
('topic', ['python', 'sate', 'mchine learning', 'NLP'])

#While loop

In [76]:
a=1
while a <= 10 :
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

#sum up the number till some point

In [77]:
n=int(input("enter the limit"))
starting_point=0
counter = 1

while counter <= n:
    starting_point=starting_point + counter
    counter=counter+1
starting_point

15

In [83]:
number=int(input("enter your number"))
fact=1
while number >0:
    fact=fact*number
    number=number-1
fact

39916800

In [85]:
number=int(input("enter the of element you are looking for"))
a,b=0,1
counter=0
while counter<number:
    print(a)
    c=a+b
    a=b
    b=c
    counter=counter+1

0
1
1
2
3

In [86]:
a,b=0,1
for i in range(10):
    print(a)
    c=a+b
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34

In [87]:
s="kuldeep"

In [88]:
s[::-1]

'peedluk'

In [90]:
word=input("enter your string for reversal")
reverse=""
length=len(word)
while length>0:
    reverse=reverse+word[length-1]
    length=length-1
print(reverse)

peedluk

##print table

In [92]:
n=int(input("enter the table number"))
i=1
while i<=10:
    result=n*i
    print(n,"*",i,"=",result)
    i=i+1

21 * 1 = 21
21 * 2 = 42
21 * 3 = 63
21 * 4 = 84
21 * 5 = 105
21 * 6 = 126
21 * 7 = 147
21 * 8 = 168
21 * 9 = 189
21 * 10 = 210

In [94]:
n=5
i=1
while i<n:
    print(i)
    i=i+1
else:
    print("this will be executed once your while will complete it succesfully")

1
2
3
4
this will be executed once your while will complete it succesfully

In [95]:
n=5
i=1
while i<n:
    print(i)
    if i==3:
        break
    i=i+1
else:
    print("this will be executed once your while will complete it succesfully")

1
2
3